@tailwind base;
@tailwind components;
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    margin: 4rem 0rem;
    background-color: white;
}
::-webkit-scrollbar-thumb{
    background-color: #FFD700;
}
@tailwind utilities