@tailwind base;
@tailwind components;
/* ::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    margin: 0rem 0rem;
    background-color: white;
}
::-webkit-scrollbar-thumb{
    background-color: #FFD700;
} */
@tailwind utilities;


#root {
    min-height: 100vh;
}